/* import React, { useState } from 'react'
import { RiArrowDownSLine } from "react-icons/ri";

const FAQ = () => {
  const FAQs=[
    {
    id:1,
    title:"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ",
    caption:"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، "
  },
    {
    id:2,
    title:"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ",
    caption:"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، "
  },
    {
    id:3,
    title:"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ",
    caption:"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، "
  },
  
    {
    id:4,
    title:"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ",
    caption:"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، "
  },
  
    {
    id:5,
    title:"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ",
    caption:"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، "
  },
    {
    id:6,
    title:"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ",
    caption:"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، "
  },
  {
    id:7,
    title:"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ",
    caption:"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، "
  },
  {
    id:8,
    title:"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ",
    caption:"لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، "
  }
]
const [active,setActive]=useState(0)

const activeFAQHandler=(index)=>{

  setActive(active===index?0:index)
}
  return (
    <div id='FAQ' className='bg-lightGreen1  py-16 '>
       <section  className=' md:w-1/3 mx-auto '>
        <h2 className='py-2 font-bold text-center text-3xl text-text-dark ' style={{fontFamily:"tanha"}}>سوالات متداول</h2>
        <h2 className='py-2 w-full font-bold text-center text-1xl text-dark' style={{fontFamily:"tanha"}}>   بخشی از خدمات ارائه شده توسط شرکت .... </h2>
      </section>
      <div className='grid md:grid-cols-2 gap-4 px-4 md:gap-8 md:px-8 '>
   {FAQs.map((faq)=>(
    <>        <section className={`bg-lightGreen3  justify-center md:justify-between p-1  relative dark:bg-[#0766AD] ` + (active===faq.id ? " z-50":"z-0")} onClick={()=>{activeFAQHandler(faq.id)}}>


<div className={`w-full flex p-1 bg-lightGreen1 dark:bg-dark dark:text-lightGreen1 ` + (active===faq.id ? "":"relative")}>
<div className='flex-[95%]'>
           <h2 className='text-sm md:text-md '> {faq.title}</h2>
  </div>
        
        
<div className='flex-[5%] bg-lightGreen1   p-1 flex justify-end items-center dark:bg-dark'>
           <RiArrowDownSLine  className='text-xl text-[#0766AD] dark:text-lightGreen1'/>
         </div>
</div>
<div className=''>
           <p className={`text-justify  text-xs md:text-sm leading-6  w-full bg-lightGreen1 absolute  border-4  border-solid border-[#60e290] right-0 p-1 dark:border-[#0766AD] ` + (active===faq.id ? "block":"hidden")}>{faq.caption}</p>
         </div>
         </section>

    </>
   ))}
 


 
   
    
 
   
      </div>

    </div>
  )
}

export default FAQ */